

  // MAIN PAGE
  $pageBg: #fbf9ec;
  $pageTitleText: #333;

  // PANEL
  $panelBg: rgba(0, 0, 0, 0.05);
  $panelText: #666;
  $panelKeyboardBg: #dedcce;
  $panelTitleBg: #dedcce;

  // Panel mandatory

    $controllersBg: #cccabb;
    $controllersBgActive: #929086;
    $controllersText: #929086;
    $controllersTextActive: #ffffff;

  // Panel Optionals

  // $panelText: ;
  // $sliderBg: ;
  // $sliderThumb: ;
  // $buttonBg: ;
  // $buttonText: ;
  // $buttonBgActive: ;
  // $buttonTextActive: ;

  $bpmBg: gray;

  // KEYBOARD

  // Keyboard Mandatory

  // White Key
  $keyWhiteBg: #ffffff;
  $keyWhiteBgActive: #ecebeb;
  $keyWhiteBoxShadow: 0px -2px 1px 1px rgba(0, 0, 0, 0.2) inset;
  $keyWhiteBoxShadowActive: 0px 3px 1px 3px rgba(0, 0, 0, 0.15) inset;
  $keyWhiteBorderColor: #999;

  // Black Key
  $keyBlackBg: #333;
  $keyBlackBgActive: #222;
  $keyBlackBoxShadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2), 0px -4px 1px 4px rgba(0, 0, 0, 0.5) inset;
  $keyBlackBoxShadowActive: 0px -4px 1px 4px rgba(0, 0, 0, 0.5) inset;

  // Black Key on scales
  $keyBlackScaleBg: #8e8d8d;
  // $keyBlackScaleBgActive: ;
  // $keyBlackScaleBoxShadow: ;
  // $keyBlackScaleBoxShadowActive: ;


