@font-face {
  font-family: 'OAF 300';
  src: url('fonts/oaf/OAF-300.eot');
  src: url('fonts/oaf/OAF-300.eot?#iefix') format('embedded-opentype'),
    url('fonts/oaf/OAF-300.woff') format('woff'),
    url('fonts/oaf/OAF-300.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
