$br: 3px;


.Keyboard {

  background: url(http://f.cl.ly/items/2q1f3t0C3R1b0g081w3n/vwood.png);

  ul {
    padding: 0;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-sizing: border-box;

    padding: 10px;
    // border-radius: 3px;
      background: rgba(0, 0, 0, .3);
  }
  li {
    cursor: pointer;
    // width: 30px;
    background: white;
    list-style: none;
    border-radius: 0 0 $br $br;
    flex-grow: 1;

    // flex: 1;
    // display: inline-flex;
    // align-items: center;
    &:first-child {
      border-radius: $br $br $br 10px;
    }
    &:last-child {
      margin-right: 0;
      border-radius: $br $br 10px $br;
    }
    &.is-sharp-true {
      background: #333;
      position: relative;
      height: 70%;
      // background-color: #474747;
      // width: 8%;
      // margin: 0 -7%;
    }
    &:not(.is-sharp-true) {
      // flex-flow: column;
    }
  }

  &.octaves-1 {
    li {
      margin-right: 3px;
    }

    .prev-sharp-true {
      margin-left: -5.5%;
    }
    .next-sharp-true {
      margin-right: -5.5%;
    }
  }
  &.octaves-2 {
    li {
      margin-right: 3px;
    }
    .prev-sharp-true {
        margin-left: -2.5%;
    }
    .next-sharp-true {
        margin-right: -2.5%;
    }
  }
}
