$br: 3px;
$grow-margin: -4.9%;

.keyboard-container {
  box-sizing: border-box;
  padding: 270px 0 10px;
  height: 100vh;
}

.Keyboard {
  height: 100%;
  // height: 60vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  // background: #e57351;
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;

  ul {
    display: flex;
    flex-grow: 1;
    padding: 0;
    margin-left: -1px;
    height: 100%;
    &:first-child {
      margin-left: 0;
      li:first-child{
        border-radius: 3px 0 0 3px;
        border-left: none;
      }
    }
    &:last-child {
      li:last-child{
        border-radius: 0 3px 3px 0;
        border-right: none;
      }
    }
  }
  li {
    flex-grow: 1.5;
    box-shadow: 0px -2px 1px 1px rgba(0, 0, 0, 0.2) inset;
    background: white;
    list-style: none;
    border-radius: 0 0 $br $br;
    // border-right: 1px solid black;
    // border-left: 1px solid black;
    border-left: 1px solid #999;
    margin-left: -1px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    &.is-playing-true {
      background: #ecebeb;
      box-shadow: 0px 3px 1px 3px rgba(0, 0, 0, 0.15) inset;
      // &:before, &:after {
      //   content: "";
      //   position: absolute;
      //   height: 100%;
      //   top: 0;
      //   box-shadow: 0 0 9px 6px rgba(0,0,0,0.3);
      //   left: 0;
      //   transform: rotate(-2deg);
      // }
      // &:after {
      //   left: auto;
      //   right: 0;
      //   transform: rotate(2deg);
      // }
    }
    &:first-child {
      margin-left: 0 !important;
    }
    &:last-child {
      margin-right: 0 !important;
    }
    &.black-key {
      background: #d0d0d0;
      &.is-playing-true {
        background: #adadad;
      }
    }
  }

  &.chromatic {

    li {
      &.black-key {
        height: 70%;
        margin-left: $grow-margin;
        flex-grow: 1;
        z-index: 1;
        background: #333;
        // background: orange;
        box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2), 0px -4px 1px 4px rgba(0, 0, 0, 0.5) inset;
        &.is-playing-true {
          background: #222;
          box-shadow: 0px -4px 1px 4px rgba(0, 0, 0, 0.5) inset;
        }
        & + li {
          margin-left: $grow-margin;
        }
      }
    }

  }
  &:not(.chromatic) {
    li {
      &.is-root-true:before {
          content: "";
          width: 10px;
          height: 10px;
          background: #8e8d8d;
          position: absolute;
          bottom: 10%;
          left: 50%;
          margin-left: -5px;
          border-radius: 50%;
      }
    }
  }

}
