
.Panel {
    // height: 40vh;
    padding: 10px;
    box-sizing: border-box;
    // display: flex;
    // flex-direction: row;
    // box-sizing: border-box;

    .panel-content {
      // background: #55a2d4;
      background: rgba(0, 0, 0, 0.05);
      width: 100%;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      border-radius: 6px;
      // border-width: 1px 1px 0 0;
      // border-style: solid;
      // border-color: white;
      // padding: 10px;
      box-sizing: border-box;
      height: 100%;

      // border: 1px inset #509cce;
      // box-shadow: 0 2px 2px rgb(33, 95, 136) inset;
    }

    h1 {
      font-size: 55px;
      text-align: center;
      font-weight: bold;
      font-family: 'OAF 300';
      line-height: 19px;
      height: 40px;
      margin-bottom: 5px;
    }

    h3 {
      // text-align: center;
      // border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      // padding: 0 5px 5px;
      // color: white;
      // font-weight: bold;
      // font-size: 16px;
      // margin-bottom: 5px;

      text-align: left;
      padding: 3px 5px 5px 15px;
      color: #666;
      font-size: 13px;
      margin-bottom: 5px;
    }


}

.Oscillator {
  display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 100px;
    height: 30px;
    background: lightblue;
}

.panel-item {
  width: 10px;
  // background-color: rgba(255,255,255,0.2);
  // margin: 5px 1px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;

  &:before {
    content: "";
    width: 10px;
    height: 23px;
    background: #d2cfc1;
    text-align: left;
    position: absolute;
    left: 11px;
  }

  * {
    outline: none;
  }

  label {
    width: 100%;
    display: block;
    font-size: 11px;
    padding: 4px 0 1px;
  }

  select {
    min-width: 50%;
    max-width: 100%;
    border: none;
    -webkit-appearance: button;
    padding: 5px;
    border-radius: $border-radius-small;
    background: $color-light;
  }
  button {
    background: white;
    border: none;
    margin-right: 1px;
    &:last-child{
      margin-right: 0;
    }
    &.active-true, &:active {
      background: #333333;
      border: none;
      color: white;
    }
  }
}

.PanelGlobal,
.PanelOscillators,
.PanelFilter,
.PanelDelay,
.PanelReverb,
.PanelFx,
.PanelRec,
.PanelKeyboard,
{
  @extend .panel-item;
}

.PanelOscillators {
  flex-grow: 1.5;
}

.PanelOscillator {
  width: 50%;
  text-align: center;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}


.PanelCompsLed {
  width: 10px;
  height: 10px;
  background: #ad2525;
  text-align: center;
  margin: 0 auto 10px;
  border-radius: 50%;
  box-shadow: -1px -1px 2px #921515 inset;
  &.is-on-true {
    background: red;
    box-shadow: -1px -1px 2px #921515 inset, 0px 0px 5px 2px rgba(255, 255, 255, 0.2);
  }
}




input#panel-global-bpm {
  font-family: 'Orbitron';
  background: gray;
  border: 1px inset;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  color: white;
}



input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  margin: 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  background: $color-light;
  border-radius: $border-radius-small;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: $border-radius-small;
  background: $color-dark;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $color-light;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  background: $color-light;
  border-radius: $border-radius-small;
  border: none;
}
input[type=range]::-moz-range-thumb {
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: $border-radius-small;
  background: $color-dark;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $color-light;
  border: none;
  border-radius: $border-radius-small
}
input[type=range]::-ms-fill-upper {
  background: $color-light;
  border: none;
  border-radius: $border-radius-small
}
input[type=range]::-ms-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: $border-radius-small;
  background: $color-dark;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $color-light;
}
input[type=range]:focus::-ms-fill-upper {
  background: $color-light;
}




