
.panel {
  height: 270px;
  position: absolute;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  padding: 10px 10px 0;


  h1 {
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    font-family: 'OAF 300';
    line-height: 19px;
    height: 40px;
    margin-bottom: 5px;
  }

  h3 {
    color: inherit;
    text-align: left;
    padding: 3px 5px 5px 15px;
    font-size: 13px;
    margin-bottom: 5px;
  }

  * {
    outline: none;
  }

  label {
    width: 100%;
    display: block;
    font-size: 11px;
    padding: 4px 0 1px;
  }
  select {
    min-width: 50%;
    max-width: 100%;
    border: none;
    -webkit-appearance: button;
    padding: 5px;
  }
  button {
    border: none;
    margin-right: 1px;
    padding: 5px 0;
    font-size: 10px;
    &:last-child{
      margin-right: 0;
    }
    &.active-true, &:active {
      border: none;
      color: white;
    }
  }

  .button-set {
    width: 100%;
    display: flex;

    button {
      flex-grow: 1;
      &:first-child {
      }
      &:last-child{
      }
    }
  }


}

.panel-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-radius: 6px 6px 0 0;
  height: 85%;
}


.panel-tabs {
  display: flex;
  flex-grow: 7;
  width: 10px;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}
.panel-tab {
  width: 100%;
  flex-direction: row;
  display: none;
  &.tab-active {
    display: flex;
  }
}
.panel-tabs::-webkit-scrollbar-thumb {
    height: 20px;
    background: blue;
}
.panel-tabs::-webkit-scrollbar-track {
    background: red;
}
.panel-tabs::-webkit-scrollbar {
    background: red;
}

.panel-item {
  width: 10px;
  min-width: 150px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;

  &:before {
    // background: $panelTitleBg;
    content: "";
    width: 10px;
    height: 23px;
    text-align: left;
    position: absolute;
    left: 11px;
  }
}

.panel-global,
.panel-oscillators,
.panel-envelope,
.panel-filter,
.panel-delay,
.panel-reverb,
.panel-lfo,
.panel-fx,
.panel-rec,
.panel-settings,
// .panel-keyboard,
{
  @extend .panel-item;
}

.panel-global {
  flex-grow: 1.5;
  &:before {
    display: none;
  }
}
.panel-oscillators {
  flex-grow: 2;
}
.panel-fx {
  flex-grow: .75;
}
.panel-rec {
  flex-grow: .5;
}


.panel-oscillator {
  width: 50%;
  text-align: center;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}


.panel-compsLed {
  // background: darken($controllerLed, 30);
  width: 10px;
  height: 10px;
  text-align: center;
  margin: 0 auto 10px;
  border-radius: 50%;
  box-shadow: -1px -1px 2px darken($controllerLed, 30) inset;
  &.is-on-true {
    // background: $controllerLed;
    box-shadow: -1px -1px 2px darken($controllerLed, 30) inset, 0px 0px 5px 2px rgba(255, 255, 255, 0.2);
  }
}

.panel-global-bpm {
  font-family: 'Orbitron';
  // background: $controllerBPM;
  border: 1px inset;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  color: white;
}
.panel-global-presets,
.panel-settings-themes
{
  width: 100%;
}

.panel-rec button {
  width: 0;
  height: 0;
  background: #929086;
  border-radius: 100%;
  box-sizing: border-box;
  border: 20px solid #cccabb;
  padding: 7px;
  &.is-recording-true {
    background: red;
  }
  &:active {
    background: #cccabb;
    border: 20px solid #929086;
  }
}


.panel-keyboard {
  // background: $panelKeyboardBg;
  height: 15%;
  padding: 10px;
  box-sizing: border-box;
  label, h3 {
    display: none;
  }
  select {
    min-width: 0;
  }
  .panel-key-scale {
    width: 40%;
  }
  .panel-key-root {
    width: 10%;
    border-left: 3px solid $panelKeyboardBg;
  }
  .button-set {
    float: right;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .keyboard-octaves {
    width: 35%;
  }
  .keyboard-octave {
    width: 15%;
  }
}
