$testTheme: (
  pageBg: purple,
  pageTitleText: orange,
  panelBg: lightcyan,
  panelText: red,
  panelKeyboardBg: lightcoral,
  controllersBg: red,
  controllersBgActive: blue,
  controllersText: orange,
  controllersTextActive: yellow,
  sliderBg: orange,
  sliderThumb: cyan,
  keyWhiteBg: orange,
  keyWhiteBgActive: red,
  keyWhiteBoxShadow: none,
  keyWhiteBoxShadowActive: 0px 3px 1px 3px rgba(0, 0, 0, 0.15) inset,
  keyBlackBg: purple,
  keyBlackBgActive: pink,
  keyBlackBoxShadow: none,
  keyBlackScaleBg: red,
  keyRoot: purple
);

@include theme($testTheme);
