@import 'themes/test';


/* DEFAULTS */
$panelKeyboardBg: $panelBg !default;
$panelText: $controllersText !default;

$sliderBg: $controllersBg !default;
$sliderThumb: $controllersBgActive !default;

$buttonBg: $controllersBg !default;
$buttonText: $controllersText !default;

$buttonBgActive: $controllersBgActive !default;
$buttonTextActive: $controllersTextActive !default;

$selectBg: $controllersBg !default;

$bpmBg: $controllersBg !default;

$keyWhiteBorderColor: $pageBg !default;
$keyWhiteBoxShadowActive: $keyWhiteBoxShadow !default;

$keyBlackScaleBg: $keyBlackBg !default;
$keyBlackScaleBgActive: $keyBlackBgActive !default;
$keyBlackScaleBoxShadow: $keyBlackBoxShadow !default;
$keyBlackScaleBoxShadowActive: $keyBlackBoxShadowActive !default;
