@import 'reset';
@import 'panel';
@import 'keyboard';



/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  background: url(http://f.cl.ly/items/2q1f3t0C3R1b0g081w3n/vwood.png);
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}
