// $bg: #472445;
// $bg: #2980b9;
$bg: #fbf9ec;
$color-light: #cccabb;
$color-dark: #929086;
$border-radius-small: 2px;

@import 'reset';
@import 'fonts';
@import 'form';
@import 'panel';
@import 'keyboard';

/* Styles */
body {
  font-family: 'Roboto Condensed', sans-serif;
  background: $bg;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

.keyboard-container {
  // height: 50vh;
}
.Panel {
  // height: 50vh;
}

@media (max-height: 500px) {
  .Keyboard {
    // height: 20vh;
  }
  .Panel {
    // height: auto;
    // height: 80vh;
  }

}
