<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- <meta name="viewport" content="width=device-width; initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5; " /> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Orbitron|Roboto+Condensed" rel="stylesheet">
  <title>RDX Synth</title>
  <meta property="og:title" content="RDX Synth">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://daniloprates.github.io/redux-synth/">
  <meta property="og:image" content="https://i.imgsafe.org/286de1c32a.png">
  <meta property="og:site_name" content="RDX Synth">
  <meta property="og:description" content="Experimental Synthesizer built with Redux.js, React and p5.sound, using the Web Audio API">
  <meta name="description" content="Experimental Synthesizer built with Redux.js, React and p5.sound, using the Web Audio API.">
  <meta name="keywords" content="synth, synthesizer, redux, redux.js, react, react.js, javascript, js, lfo, oscillator, delay, reverb, web audio, web audio api, audio api, midi, midi controller, p5, p5.js, p5.sound, p5 sound, online synth, online synthsizer, online audio, online audio tools, online tools, browser, browser audio">

</head>
<body>
<div id="app"></div>
</body>
</html>
